<h1><%= @list.name %></h1>
<%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
<%= link_to 'back to lists', lists_path %>
<%= link_to 'edit', edit_list_path %>
<%= link_to 'delete', list_path(@list),
                      method: :delete,
                      data: {confirm: 'are you sure?'}%>

<hr>
<%= link_to 'add movie', new_list_bookmark_path(@list) %>

<% @list.movies.each do |movie| %>
    <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <p><%= movie.title %> <%= link_to 'delete', bookmark_path(bookmark), method: :delete, data: {confirm: "are you sure you want to remove#{movie}"} %></p>
<% end %>