<h1><%= @list.name %></h1>

<%= link_to 'back to lists', lists_path %>
<%= link_to 'edit', edit_list_path %>
<%= link_to 'delete', list_path(@list),
                      method: :delete,
                      data: {confirm: 'are you sure?'}%>

<hr>
<%= link_to 'add movie', new_list_bookmark_path(@list) %>

<% @list.bookmarks.each do |bookmark| %>
    <p><%= bookmark.movie.title %> <%= link_to 'delete', Bookmark_path %></p>
<% end %>